---
import Layout from "../layouts/index.astro"
---

<style>
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  .title {
    font-size: 2rem;
    margin-bottom: 0.5rem;
  }
  .subtitle {
    font-size: 1.5rem;
    text-align: left;
  }
  a {
    border-bottom: 2px solid #ff757d;
  }
  a:hover {
    color: #ff757d;
    border-bottom: 2px solid #2f2d76;
  }
</style>
<Layout>
  <main>
    <section class="container">
      <h1 class="title">
        404: Page Not Found.<br />
      </h1>
      <p class="subtitle">This page does not exist</p>
      <a class="subtitle" href="/">Take me home</a>
    </section>
  </main>
</Layout>
