---
import Layout from "../layouts/index.astro"
---

<style lang="scss">
  .content {
    margin: 15px;
  }
  a {
    border-bottom: 2px solid #ff757d;
  }
  a:hover {
    color: #ff757d;
    border-bottom: 2px solid #2f2d76;
  }
</style>
<Layout>
  <main class="content">
    <article>
      <section>
        <h2>404: Page Not Found.</h2>
        <p>This page does not exist</p>
      </section>
      <section class="container">
        <a class="subtitle" href="/">Take me home</a>
      </section>
    </article>
  </main>
</Layout>
