---
import '../styles/basic/style.scss';
import Head from '../components/head.astro'
import Header from '../components/basic/header.astro'
import data from '../files/prepare.js'
---
<!DOCTYPE html>
<html lang="en">
  <Head />
  <script type="module" define:vars={{ data }}>
  import init from '/files/init.js'
  init(data)
  </script> 
  <body class="">
    <Header />
    <slot />
    <script is:inline src="/files/drawer.js" />
  </body>
</html>

