---
const pathname = new URL(Astro.request.url).pathname
const currentPath = pathname.slice(1)
---

<div class="wrapper" id="R">
  <div class="box almere">
    <span class="num"
      >{!currentPath || currentPath.length === 0 ? "R" : currentPath.charAt(0) === "c" ? "C" : "404"}</span
    >
  </div>
  <div class="box bremen"></div>
  <div class="box charleroi">
    <a class={currentPath === "" ? "active" : ""} href="/">readme</a>
    <a class={currentPath === "changelog" ? "active" : ""} href="/changelog">changelog</a>
  </div>
</div>
