---
import Layout from '../layouts/default.astro';
import App from "../solid/components/App"
---
<Layout>
  <main>
    <section class="container">
      <h1 class="title">
        Score<br/>
      </h1>
       <App client:load />
    </section>
  </main>
</Layout>
