---
import Layout from "../layouts/index.astro"
import Header from "../components/readme/header.astro"
const id = "404"
const d = new Date().toLocaleDateString("en-GB", { day: "numeric", month: "short", year: "numeric" })
---

<Layout>
  <Header letter="404" />
  <div class="entry">
    <div class="copy">
      <section class="container">
        <h1 class="title">
          Page Not Found.<br />
        </h1>
        <p class="subtitle">This page does not exist</p>
        <p class="subtitle"><a href="/">Take me home</a></p>
      </section>
    </div>
  </div>
</Layout>
