---
import { getCollection } from "astro:content"
import Layout from "../layouts/index.astro"
import Header from "../components/readme/header.astro"

export async function getStaticPaths() {
  const docs = await getCollection("top")
  const routes = docs.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry }
  }))
  const index = {
    params: { slug: undefined },
    props: { entry: docs.filter((entry) => entry.slug === "index")[0] }
  }
  return [...routes, index]
}

const { entry } = Astro.props
const { Content } = await entry.render()
let letter
if (entry.slug === "index") {
  letter = "R"
} else {
  letter = entry.slug.charAt(0).toUpperCase()
}
---

<Layout>
  <Header letter={letter} />
  <div class="entry">
    <div class="copy">
      <Content />
    </div>
  </div>
</Layout>
