body {
  background: white !important;
  color: black !important;
}

main, article, body, section, header, .page-wrapper, div {
  outline: 1px solid! important;
}

.page-wrapper {
  background:  rgb(220,220,220) !important;
}

main {
  background: rgb(255, 192, 192, 0.2) !important;
}

article {
 background: rgba(255, 96, 0, 0.2) !important;
}

section {
  background: rgb(0, 255, 229, 0.1) !important;
}

header {
  background: rgba(128, 0, 255, 0.1) !important;
}

p {
  background: #fcfcac !important;
}

span {
  background: #FF757D !important;
}

div {
  background: rgba(0, 128, 255, 0.1) !important;
}

div div {
  background: rgba(0, 128, 255, 0.2) !important;
}

div div div {
  background: rgba(0, 128, 255, 0.3) !important;
}

div div div div {
  background: rgba(0, 128, 255, 0.4) !important;
}

div div div div div {
  background: rgba(0, 128, 255, 0.5) !important;
}

