---
import { getCollection } from "astro:content"
import Layout from "../../layouts/index.astro"

export async function getStaticPaths() {
  const docs = await getCollection("series")
  const routes = docs.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry }
  }))
  return [routes]
}

const { entry } = Astro.props
const { Content } = await entry.render()
---

<Layout>
  <div class="content container">
    <Content />
  </div>
</Layout>
