---
import Layout from "../layouts/gists.astro"
const id = "404"
const d = new Date().toLocaleDateString("en-GB", { day: "numeric", month: "short", year: "numeric" })
---

<style lang="scss">
  a {
    border-bottom: 2px solid #ff757d;
  }
  a:hover {
    color: #ff757d;
    border-bottom: 2px solid #2f2d76;
  }
</style>
<Layout>
  <article>
    <div class="wrapper" id={id}>
      <div class="box almere">
        <span class="num">{id}</span>
      </div>
      <div class="box bremen"></div>
      <div class="box charleroi">
        {d}
      </div>
    </div>
    <div class="entry">
      <div class="copy">
        <section class="container">
          <h1 class="title">
            Page Not Found.<br />
          </h1>
          <p class="subtitle">This page does not exist</p>
          <p class="subtitle"><a href="/">Take me home</a></p>
        </section>
      </div>
    </div>
  </article>
</Layout>
